---
layout: default
title: Home
---


<!-- New paragraph of text with an image -->
<div class="intro-section">
  <img src="public/headshot_hat.jpg" alt="Me" width=250>
  <p> I am a PhD candidate at University College London, studying the climate system response to solar geoengineering by stratospheric aerosol injection. My work aims to understand the physics of what changes to the climate we might see, particularly in the Arctic, if we were to try to cool it down by reflecting away about 1% of the incoming sunlight. See my Bio and Publications via the menu on the left hand side for more info. See the blog feed below for some recent updates on my work. </p>


</div>

<!-- Line breaks before the posts start -->
<br>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
